@model CvProject.Models.Entities.SocialMedia
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post" class="col md-12">
    <h2>Sosyal Medya Güncelleme Sayfası</h2>
    <br />
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })
    <br />
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control"})
    <br />  
    @Html.Label("İkon")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
@*    @Html.DropDownListFor(x => x.Id, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })*@
    <br />  
    <button class="btn btn-info ">Güncelle</button>
</form>

