@using CvProject.Models.Entities
@model List<Education>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2>Eğitim Bilgileri</h2>
<br />
<table class="table table-bordered">
	<tr>
		<th>OKUL</th>
		<th>BÖLÜM</th>
		<th>FAKÜLTE</th>
		<th>GPA</th>
		<th>TARİH</th>
		<th>SİL</th>
		<th>DÜZENLE</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Title</td>
			<td>@item.Subtitle </td>
			<td>@item.Subtitle2 </td>
			<td>@item.Gpa</td>
			<td>@item.Date</td>
			<td>
				<a hres="/Education/Update/@item.Id" class="btn btn-info btn-sm">
					<i class="fas fa-pencil-alt">
					</i>
					Düzenle
				</a>
			</td>
			<td>
				<a href="/Education/Delete/@item.Id" class="btn btn-danger btn-sm">
					<i class="fas fa-trash">
					</i>
					Sil
				</a>
			</td>
		</tr>
	}

</table>
<a href="/Education/Add/" class="btn btn-primary">Yeni Eğitim Ekle</a>




