@model CvProject.Models.Entities.Education
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post" class="col md-12">
    <h2>Eğitim Güncelleme Sayfası</h2>
    <br />

    @Html.Label("Okul")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Bölüm")
    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
    <br />
    @Html.Label("Fakülte")
    @Html.TextBoxFor(x => x.Subtitle2, new { @class = "form-control" })
    <br />
    @Html.Label("GPA")
    @Html.TextBoxFor(x => x.Gpa, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextAreaFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info ">Güncelle</button>
</form>




